<h1>{{ title }}</h1>

<form action="/product/edit/{{product._id}}" method="post" class="nice-form" enctype="multipart/form-data"> 
    <div class="form-group">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="{{product.name}}" required>
    </div>

   <div class="form-group">
        <label for="image">Current Image:</label>
        <img src="/images/{{product.image}}" alt="{{product.name}}" style="width: 100px; margin-bottom: 10px;">
        <br>
        <label for="image">Upload New Image (Optional):</label>
        <input type="file" id="image" name="image">
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4">{{product.description}}</textarea>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{product.price}}" required>
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <option value="">-- Select a Category --</option>
            {{#each categoryList}}
                <option value="{{this._id}}" 
                    {{#equals this._id ../product.category}}selected{{/equals}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Update Product" class="btn-submit">
</form>
